body {
  background-image: url("https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?w=940&h=650&auto=compress&cs=tinysrgb")
}

h1{
  color: #E8C840;
  font-family: 'Kavivanar', sans-serif;
  text-align: center;
}

h2{
  color: #E8A640;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}
